<!DOCTYPE html>
<html>
<title></title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
  body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
  </style>

<body class="w3-light-grey">
  <!-- Header -->
<header class="w3-container w3-center w3-padding-32"> 
  <h1><b>About <span class="w3-tag">Us</span></b></h1>
  <hr>
  <p>
    Now-a-days, majority of people undergoes through health issues or mental stress. The reason for both may be many factors like unhealthy food habits, lack of doing body exercises, job environment etc. These factors can physically and mentally deteriorate the creativity and productivity of a person. Yoga transforms a person balanced with mental, physical and spiritual elements in the right composition.
  </p>
</header>


<h1 style="text-align:center"><b>Our Team</b></h1>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="/assets/aboutus/advay.jpg" alt="Avatar" style="width:100%">
      <div class="container">
        <h2>Advay Pillai</h2>
        <p class="title">CEO & Founder</p>
        
        <p>advaypilla@yogacharya.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/assets/aboutus/kavika.jpg" alt="Kavika" style="width:100%">
      <div class="container">
        <h2>Kavika Deshmukh</h2>
        <p class="title">Art Director</p>
        <p></p>
        <p>kavikadesh@yogacharya.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <img src="/assets/aboutus/ananya.jpg" alt="Ananya" style="width:100%">
      <div class="container">
        <h2>Ananya Bedi</h2>
        <p class="title">Designer</p>
        
        <p>Ananyabedi@yogacharya.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>

</body>
</html>
