<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
    body,
    h1,
    h2,
    h3,
    h4,
    h5 {
        font-family: "Raleway", sans-serif
    }
</style>


<body class="w3-light-grey">

    <!-- Header -->
    <header class="w3-container w3-center w3-padding-32">
        <h1><b><span class="w3-tag">Fresh Fruit Salad</span></b></h1>
    </header>





    <!-- Grid -->
    <div class="w3-row">

        <!-- Blog entries -->
        <div class="w3-col s12 w3-center">
            <!-- Blog entry -->
            <div class="w3-card-4 w3-margin w3-white">
                <img src="/assets/recipes/fruit-salad.jpg" alt="Nature" style="height:30%; width: 30%;">
                <div class="w3-container">
                    <h3><b>Fresh Fruit Salad</b></h3>

                </div>

                <div class="w3-container">
                    <p><b>Video link : </b><a href="https://www.youtube.com/watch?v=Zp-F68Fa-ps">click here</a></p>
                    <p>
                        This refreshing fruit salad is a classic combination that will be the favorite at any potluck or
                        cookout. Serve with a creamy yogurt dressing to take this side (or dessert) to the next level.
                    </p>
                    <hr>
                    <div class="w3-container text-left">

                        <h4><b><u>Ingredients</u></b><br></h4>
                        <br>
                        1. 2 cups diced fresh pineapple<br>
                        2. 1 pound strawberries, hulled and sliced<br>
                        3. ½ pint blackberries, halved<br>
                        4. 4 ripe kiwis, peeled, halved and sliced<br>
                        5. 1 cup Lime Yogurt Fruit Salad Dressing (optional; see associated recipe)<br>

                    </div>
                    <hr>
                    <div class="w3-container text-left">
                        <h4><b><u>Directions</u></b><br></h4>
                        <br>
                        <b>Step 1</b>
                        <p>

                            Combine pineapple, strawberries, blackberries and kiwi in a large bowl. Serve with yogurt
                            dressing, if desired.
                        </p>



                    </div>
                    <hr>
                    <div class="w3-container text-left">
                        <h4><b><u>Nutrition Facts</u></b><br></h4>

                        <p>
                            <br>
                            Serving Size: 3/4 Cup Per Serving: 57 calories; protein 1g; carbohydrates 13.9g; dietary
                            fiber 3g; sugars 9.1g; fat 0.4g; vitamin a iu 82.5IU; vitamin c 73.6mg; folate 28.3mcg;
                            calcium 25.8mg; iron 0.5mg; magnesium 18.1mg; potassium 220.6mg; sodium 1.8mg; thiamin
                            0.1mg. Exchanges:
                            1 Fruit
                        </p>
                    </div>
                    <hr>



                </div>

            </div>
            <hr>
        </div>
    </div><br>




</body>

</html>