#Eclipse


.project
.classpath
.settings/
.loadpath
.Spotlight-V100


#Maven

target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

#OS X

.DS_Store
.AppleDouble
.LSOverride

#KDE directory preference
.directory

#Compressions

*.zip
*.zipx
*.tar
*.bz2
*.7z
*.gz
/bin/
/target/
