<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
    body,
    h1,
    h2,
    h3,
    h4,
    h5 {
        font-family: "Raleway", sans-serif
    }
</style>

<body class="w3-light-grey">

    <!-- Header -->
    <header class="w3-container w3-center w3-padding-32">
        <h1><b><span class="w3-tag">Kat Fowler on Embracing Yoga and Conquering Self-Doubt</span></b></h1>
    </header>

    <!-- Grid -->
    <div class="w3-row">

        <!-- Blog entries -->
        <div class="w3-col s12 w3-center">
            <!-- Blog entry -->
            <div class="w3-card-4 w3-margin w3-white">
                <img src="/assets/blogs/blog1.png" alt="Nature" style="height:30%; width: 30%;">
                <div class="w3-container">
                    <h3><b>Kat Fowler on Embracing Yoga and Conquering Self-Doubt</b></h3>
                    <h5>Yoga teacher Kat Fowler talks about teaching in New York City, the realities of self-doubt, and
                        the pure joy that is Nutella.</h5>
                </div>
                <hr>
                <div class="w3-container text-left">
                    <p>
                        I was like the spiritual version of a trust-fund kid growing up. My parents met at an ashram,
                        where I lived until I was 2 years old.
                        I grew up around Eastern philosophy and spirituality—but when you’re 14 and your parents tell
                        you to do something, you run the other way.
                        When I was 19, I found my way back to my spiritual roots—this time because I chose the
                        lifestyle—and like the trust fund kid who realizes all the luxuries and advantages she had from
                        the start,
                        I saw how blessed I was to have been exposed to such wisdom starting at an early age. By the
                        time I was 24 years old, I had done 15 teacher trainings. I was hooked.
                    </p>
                    <p>
                        I transformed from mischievous teen to awakened young adult after breaking up with my first
                        love. I was heartbroken. I didn’t go out for months. My mom kept urging me to try a yoga class.
                        I finally took one. That’s when I started walking down this new path.
                    </p>
                    <p>
                        On the plane ride to Colorado for my photoshoot with Yoga Journal there was crazy turbulence—the
                        kind that prompted people on the plane to either scream, cry, or pray. I had some pretty
                        existential thoughts: What am I doing here? What is this all supposed to be for? When I found
                        out the shoot was near Crestone, Colorado, [a spiritual hot-spot known for its Buddhist
                        ashrams], I knew I wanted to visit. When I got to town, I found a ziggurat [a spiritual
                        structure with Middle East and Persian roots that serves as a space for releasing, receiving,
                        and activating practices]. I climbed to the top and released all of the stress from my trip.
                    </p>
                    <p>
                        For a long time, I didn’t believe in my own power. I’d struggle with feeling worthy of the gifts
                        and blessings given to me. Even with amazing opportunities, I’d find myself asking, “What’s the
                        catch?” rather than thinking, “Yes! I’m deserving of this.” I think a lot of women struggle with
                        this. At the top of that ziggurat, I tried to remove my self-limiting beliefs. I wanted to get
                        rid of anything that would cause me to get in my own way.
                    </p>
                    <p>
                        I’ve been lucky to study with some of the best teachers on both
                        the Eastern and Western sides of yoga. My teacher Dharma Mittra is fully ensconced in the
                        classical practices of the eight limbs of yoga, and I gained so much from his commitment to
                        teaching the ancient texts. On the Western side, working with Tiffany Cruikshank was almost like
                        learning physical therapy. I got the best of both worlds.
                    </p>
                    <p>
                        I love New Yorkers. I live and teach in New York City, and we are driven, ambitious people who
                        walk fast, talk fast, and get annoyed when people are slow. Within this hard-charging intensity,
                        there’s a collective energy. So my goal when I’m teaching 50 to 60 people is to ground their
                        energy and remove some of the excess. I love watching the energy shift from anxious and stressed
                        to calm and kind. Yoga is like a tuning fork, and suddenly everyone is hitting the right note.
                    </p>
                    <p>
                        My guilty pleasure is Nutella right out of the tub with a spoon. I’ve also been known to stay up
                        really late for a good Netflix binge.
                    </p>
                    <hr>
                </div>
            </div>
            <hr>
        </div>
    </div><br>




</body>

</html>