<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
    body,
    h1,
    h2,
    h3,
    h4,
    h5 {
        font-family: "Raleway", sans-serif
    }
</style>

<body class="w3-light-grey">

    <!-- Header -->
    <header class="w3-container w3-center w3-padding-32">
        <h1><b><span class="w3-tag">Plant-based diets</span></b></h1>
    </header>

    <!-- Grid -->
    <div class="w3-row">

        <!-- Blog entries -->
        <div class="w3-col s12 w3-center">
            <!-- Blog entry -->
            <div class="w3-card-4 w3-margin w3-white">
                <img src="/assets/dietplans/plant-based.jpg" alt="Nature" style="height:30%; width: 30%;">
                <div class="w3-container">
                    <h3><b>Plant-based diets</b></h3>
                    <h5>Plant-based diets may help you lose weight. Vegetarianism and veganism are the most popular
                        versions, which restrict animal products for health, ethical, and environmental reasons.</h5>
                    <h5>However, more flexible plant-based diets also exist, such as the flexitarian diet, which is a
                        plant-based diet that allows eating animal products in moderation.</h5>
                </div>
                <hr>
                <div class="w3-container text-left">
                    <p>
                        <b>How it works:</b> There are many types of vegetarianism, but most involve eliminating all
                        meat, poultry, and fish. Some vegetarians may likewise avoid eggs and dairy.
                    </p>
                    <p>The vegan diet takes it a step further by restricting all animal products, as well as
                        animal-derived products like dairy, gelatin, honey, whey, casein, and albumin.
                    </p>
                    <p>
                        There are no clear-cut rules for the flexitarian diet, as it’s a lifestyle change rather than a
                        diet. It encourages eating mostly fruits, vegetables, legumes, and whole grains but allows for
                        protein and animal products in moderation, making it a popular alternative.
                    </p>
                    <hr>
                    <p>
                        <b>Weight loss:</b> Research shows that plant-based diets are effective for weight loss
                    </p>
                    <p>
                        A review of 12 studies including 1,151 participants found that people on a plant-based diet lost
                        an average of 4.4 pounds (2 kg) more than those who included animal products
                    </p>
                    <p>

                        Plus, those following a vegan diet lost an average of 5.5 pounds (2.5 kg) more than people not
                        eating a plant-based diet
                    </p>
                    <p>
                        Plant-based diets likely aid weight loss because they tend to be rich in fiber, which can help
                        you stay fuller for longer, and low in high-calorie fat
                    </p>
                    <hr>
                    <p>
                        <b>Other benefits:</b> Plant-based diets have been linked to many other benefits, such as a
                        reduced risk of chronic conditions like heart disease, certain cancers, and diabetes. They can
                        also be more environmentally sustainable than meat-based diets
                    </p>
                    <hr>
                    <p>
                        <b>Downsides:</b> Though plant-based diets are healthy, they can restrict important nutrients that are typically found in animal products, such as iron, vitamin B12, vitamin D, calcium, zinc, and omega-3 fatty acids.
                    </p>
                    <p>
                        A flexitarian approach or proper supplementation can help account for these nutrients.

                    </p>
                    <hr>

                </div>
            </div>
            <hr>
        </div>
    </div><br>




</body>

</html>