<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
    body,
    h1,
    h2,
    h3,
    h4,
    h5 {
        font-family: "Raleway", sans-serif
    }
</style>


<body class="w3-light-grey">

    <!-- Header -->
    <header class="w3-container w3-center w3-padding-32">
        <h1><b><span class="w3-tag">Turmeric Latte</span></b></h1>
    </header>





    <!-- Grid -->
    <div class="w3-row">

        <!-- Blog entries -->
        <div class="w3-col s12 w3-center">
            <!-- Blog entry -->
            <div class="w3-card-4 w3-margin w3-white">
                <img src="/assets/recipes/turmeric-latte.jpg" alt="Nature" style="height:20%; width: 20%;">
                <div class="w3-container">
                    <h3><b>Turmeric Latte</b></h3>

                </div>

                <div class="w3-container">
                    <p><b>Video link : </b><a href="https://www.youtube.com/watch?v=OzEtbiSvAeo">click here</a></p>
                    <p>
                        Studies on turmeric's health benefits, particularly for reducing inflammation, are preliminary
                        but promising. Try this vegan turmeric latte made from steamed almond milk and sweetened with a
                        touch of maple syrup.
                    </p>
                    <hr>
                    <div class="w3-container text-left">

                        <h4><b><u>Ingredients</u></b><br></h4>
                        <br>
                        1. 1 cup unsweetened almond milk or coconut milk beverage <br>
                        2. 1 tablespoon grated fresh turmeric<br>
                        3. 2 teaspoons pure maple syrup or honey<br>
                        4. 1 teaspoon grated fresh ginger<br>
                        5. Pinch of ground pepper<br>
                        6. 1 pinch Ground cinnamon for garnish<br>

                    </div>
                    <hr>
                    <div class="w3-container text-left">
                        <h4><b><u>Directions</u></b><br></h4>
                        <br>
                        <b>Step 1</b>
                        <p>

                            Combine milk, turmeric, maple syrup (or honey), ginger and pepper in a blender. Process on
                            high until very smooth, about 1 minute. Pour into a small saucepan and heat over medium-high
                            heat until steaming hot but not boiling. Transfer to a mug. Garnish with a sprinkle of
                            cinnamon, if desired.
                        </p>


                    </div>
                    <hr>
                    <div class="w3-container text-left">
                        <h4><b><u>Nutrition Facts</u></b><br></h4>

                        <p>
                            <br>
                            Serving Size: 1 Cup Per Serving: 70 calories; protein 1.1g; carbohydrates 10.9g; dietary
                            fiber 1.1g; sugars 8.1g; fat 2.7g; vitamin a iu 500.8IU; vitamin c 0.1mg; folate 0.2mcg;
                            calcium 466.5mg; iron 0.6mg; magnesium 3.9mg; potassium 108mg; sodium 172.1mg; added sugar
                            8g. Exchanges:
                            1/2 Fat, 1/2 Other Carbohydrate
                        </p>
                    </div>
                    <hr>



                </div>

            </div>
            <hr>
        </div>
    </div><br>




</body>

</html>