<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
    body,
    h1,
    h2,
    h3,
    h4,
    h5 {
        font-family: "Raleway", sans-serif
    }
</style>

<body class="w3-light-grey">

    <!-- Header -->
    <header class="w3-container w3-center w3-padding-32">
        <h1><b><span class="w3-tag">The paleo diet</span></b></h1>
    </header>

    <!-- Grid -->
    <div class="w3-row">

        <!-- Blog entries -->
        <div class="w3-col s12 w3-center">
            <!-- Blog entry -->
            <div class="w3-card-4 w3-margin w3-white">
                <img src="/assets/dietplans/paleo.jpg" alt="Nature" style="height:30%; width: 30%;">
                <div class="w3-container">
                    <h3><b>The paleo diet</b></h3>
                    <h5>The paleo diet advocates eating the same foods that your hunter-gatherer ancestors allegedly
                        ate.
                    </h5>
                    <h5>It’s based on the theory that modern diseases are linked to the Western diet, as proponents
                        believe that the human body hasn’t evolved to process legumes, grains, and dairy.
                    </h5>
                </div>
                <hr>
                <div class="w3-container text-left">
                    <p>
                        <b>How it works:</b> The paleo diet advocates eating whole foods, fruits, vegetables, lean
                        meats, nuts, and seeds. It restricts the consumption of processed foods, grains, sugar, and
                        dairy, though some less restrictive versions allow for some dairy products like cheese.
                    </p>

                    <hr>
                    <p>
                        <b>Weight loss:</b> Numerous studies have shown that the paleo diet can aid weight loss and
                        reduce harmful belly fat
                    </p>
                    <p>
                        For example, in one 3-week study, 14 healthy adults following a paleo diet lost an average of
                        5.1 pounds (2.3 kg) and reduced their waist circumference — a marker for belly fat — by an
                        average of 0.6 inches (1.5 cm)
                    </p>
                    <p>

                        Research also suggests that the paleo diet may be more filling than popular diets like the
                        Mediterranean diet and low-fat diets. This may be due to its high protein content
                    </p>

                    <hr>
                    <p>
                        <b>Other benefits:</b>Following the paleo diet may reduce several heart disease risk factors,
                        such as high blood pressure, cholesterol, and triglyceride levels
                    </p>
                    <hr>
                    <p>
                        <b>Downsides:</b> Though the paleo diet is healthy, it restricts several nutritious food groups, including legumes, whole grains, and dairy.
                    </p>
                    
                    <hr>

                </div>
            </div>
            <hr>
        </div>
    </div><br>




</body>

</html>