<!DOCTYPE html>
<html>
<title></title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
  body,
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: "Raleway", sans-serif
  }
</style>

<body class="w3-light-grey">
  <!-- Header -->
  <header class="w3-container w3-center w3-padding-32">
    <h1><b>Registration Form for <span class="w3-tag">Trainee</span></b></h1>
  </header>


  <div class="w3-card-4 w3-margin w3-white">
    <div class="w3-container">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <p>

        </p>
        <div class="form-group">
          <p><input class="w3-input w3-padding-16, form-group" type="text" placeholder="First Name"
              formControlName="firstName">
            <span class="text-danger"
              *ngIf="registerForm.controls['firstName'].errors?.required && registerForm.controls['firstName'].touched">Enter
              First Name</span>
          </p>
        </div>

        <div class="form-group">
          <p><input class="w3-input w3-padding-16, form-group" type="text" placeholder="Last Name"
              formControlName="lastName">
            <span class="text-danger"
              *ngIf="registerForm.controls['lastName'].errors?.required && registerForm.controls['lastName'].touched">Enter
              Last Name</span>
          </p>

        </div>

        <div class="form-group">
          <p><input class="w3-input w3-padding-16, form-group" type="text" placeholder="Email" formControlName="email">
            <span class="text-danger"
              *ngIf="registerForm.controls['email'].errors?.required && registerForm.controls['email'].touched">Enter
              Valid Email Id</span>
          </p>
        </div>

        <div class="form-group">
          <p><input class="w3-input w3-padding-16, form-group" type="number" placeholder="Contact Number"
              formControlName="contactNumber">
            <span class="text-danger"
              *ngIf="registerForm.controls['contactNumber'].errors?.required && registerForm.controls['contactNumber'].touched">Enter
              Contact Number</span>
          </p>
        </div>

        <div class="form-group">
          <p><input class="w3-input w3-padding-16, form-group" type="password" placeholder="Password"
              formControlName="password">
            <span class="text-danger"
              *ngIf="registerForm.controls['password'].errors?.required && registerForm.controls['password'].touched">Enter
              Password(Min. 6 Character
              length)</span>
          </p>
        </div>

        <!-- <div class="form-group">
          <p><input class="w3-input w3-padding-16, form-group" type="password" name="Confirm Password"
              placeholder="Confirm Password" formControlName="confirmPassword">
            <span class="text-danger"
              *ngIf="registerForm.controls['confirmPassword'].errors?.required && registerForm.controls['confirmPassword'].touched">Password
              does not
              match</span>
          </p>
        </div> -->
        <div>
          <p><button class="btn navbar-inverse bg-dark text-light" type="submit">Submit</button>
          </p>
        </div>
      </form>
    </div>
  </div>


</body>

</html>