<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
    body,
    h1,
    h2,
    h3,
    h4,
    h5 {
        font-family: "Raleway", sans-serif
    }
</style>

<body class="w3-light-grey">

    <!-- Header -->
    <header class="w3-container w3-center w3-padding-32">
        <h1><b>Special <span class="w3-tag">Diet</span></b></h1>
    </header>

    <!-- Grid -->
    <div class="w3-row">

        <!-- Blog entries -->
        <div class="w3-col s12 w3-center">
            <!-- Blog entry -->
            <div class="w3-card-4 w3-margin w3-white">
                <img src="/assets/dietplans/intermittent food.jpg" alt="Nature" style="height:20%; width: 20%;">
                <div class="w3-container">
                    <h3><b>Intermittent fasting</b></h3>
                    <h5>Intermittent fasting is a dietary strategy that cycles between periods of fasting and eating.

                        Various forms exist, including the 16/8 method, which involves limiting your calorie intake to 8
                        hours per day, and the 5:2 method, which restricts your daily calorie intake to 500–600 calories
                        twice per week.</h5>
                </div>

                <div class="w3-container">
                    <p>
                        <b>How it works:</b> Intermittent fasting restricts the time you’re allowed to eat, which is a
                        simple way to reduce your calorie intake. This can lead to weight loss — unless you compensate
                        by eating too much food during allowed eating periods.
                    </p>
                    <div class="w3-row">
                        <div class="w3-col s12">
                            <p><a routerLink="/special-diet1"><button class="w3-button w3-padding-large w3-white w3-border">
                                    <b>READ MORE »</b></button></a></p>
                        </div>

                    </div>
                </div>
            </div>
            <hr>
            <!-- 2nd card-->
            <div class="w3-card-4 w3-margin w3-white">
                <img src="/assets/dietplans/plant-based.jpg" alt="Nature" style="height:30%; width: 30%;">
                <div class="w3-container">
                    <h3><b>Plant-based diets</b></h3>
                    <h5>Plant-based diets may help you lose weight. Vegetarianism and veganism are the most popular
                        versions, which restrict animal products for health, ethical, and environmental reasons.</h5>
                    <h5>However, more flexible plant-based diets also exist, such as the flexitarian diet, which is a
                        plant-based diet that allows eating animal products in moderation.</h5>
                </div>
                <hr>
                <div class="w3-container">
                    <p>
                        <b>How it works:</b> There are many types of vegetarianism, but most involve eliminating all
                        meat, poultry, and fish. Some vegetarians may likewise avoid eggs and dairy.
                    </p>
                    <div class="w3-row">
                        <div class="w3-col s12">
                            <p><a routerLink="/special-diet2"><button class="w3-button w3-padding-large w3-white w3-border">
                                    <b>READ MORE »</b></button></a></p>
                        </div>

                    </div>
                </div>
            </div>
            <hr>
            <!--3rd card-->
            <div class="w3-card-4 w3-margin w3-white">
                <img src="/assets/dietplans/low-carbs.jpg" alt="Nature" style="height:20%; width: 20%;">
                <div class="w3-container">
                    <h3><b>Low-carb diets</b></h3>
                    <h5>Low-carb diets are among the most popular diets for weight loss. Examples include the Atkins
                        diet, ketogenic (keto) diet, and low-carb, high-fat (LCHF) diet.
                    </h5>
                    <h5>Some varieties reduce carbs more drastically than others. For instance, very-low-carb diets like
                        the keto diet restrict this macronutrient to under 10% of total calories, compared with 30% or
                        less for other types
                    </h5>
                </div>
                <hr>
                <div class="w3-container">
                    <p>
                        <b>How it works:</b> Low-carb diets restrict your carb intake in favor of protein and fat.
                    </p>
                    <div class="w3-row">
                        <div class="w3-col s12">
                            <p>
                                <a routerLink="/special-diet3"><button class="w3-button w3-padding-large w3-white w3-border">
                                    <b>READ MORE »</b></button></a></p>
                        </div>

                    </div>
                </div>
            </div>
            <hr>
            <!-- 4th card-->
            <div class="w3-card-4 w3-margin w3-white">
                <img src="/assets/dietplans/paleo.jpg" alt="Nature" style="height:30%; width: 30%;">
                <div class="w3-container">
                    <h3><b>The paleo diet</b></h3>
                    <h5>The paleo diet advocates eating the same foods that your hunter-gatherer ancestors allegedly
                        ate.
                    </h5>
                    <h5>It’s based on the theory that modern diseases are linked to the Western diet, as proponents
                        believe that the human body hasn’t evolved to process legumes, grains, and dairy.
                    </h5>
                </div>
                <hr>
                <div class="w3-container">
                    <p>
                        <b>How it works:</b> The paleo diet advocates eating whole foods, fruits, vegetables, lean
                        meats, nuts, and seeds. It restricts the consumption of processed foods, grains, sugar, and
                        dairy, though some less restrictive versions allow for some dairy products like cheese.
                    </p>
                    <div class="w3-row">
                        <div class="w3-col s12">
                            <p><a routerLink="/special-diet4"><button class="w3-button w3-padding-large w3-white w3-border">
                                    <b>READ MORE »</b></button></a></p>
                        </div>

                    </div>
                </div>
            </div>
            <hr>
            <!--5th card-->
            <div class="w3-card-4 w3-margin w3-white">
                <img src="/assets/dietplans/low-fats.jpg" alt="Nature" style="height:20%; width: 20%;">
                <div class="w3-container">
                    <h3><b>Low-fat diets</b></h3>
                    <h5>Like low-carb diets, low-fat diets have been popular for decades.

                        In general, a low-fat diet involves restricting your fat intake to 30% of your daily calories.

                        Some very- and ultra-low-fat diets aim to limit fat consumption to under 10% of calories
                    </h5>
                </div>
                <hr>
                <div class="w3-container">
                    <p>
                        <b>How it works:</b> Low-fat diets restrict fat intake because fat provides about twice the
                        number of calories per gram, compared with the other two macronutrients — protein and carbs.
                    </p>
                    <div class="w3-row">
                        <div class="w3-col s12">
                            <p>
                                <a routerLink="/special-diet5"><button class="w3-button w3-padding-large w3-white w3-border">
                                    <b>READ MORE »</b></button></a></p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div><br>




</body>

</html>