<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
    body,
    h1,
    h2,
    h3,
    h4,
    h5 {
        font-family: "Raleway", sans-serif
    }
</style>


<body class="w3-light-grey">

    <!-- Header -->
    <header class="w3-container w3-center w3-padding-32">
        <h1><b><span class="w3-tag">Low-Carb Blueberry Muffins</span></b></h1>
    </header>





    <!-- Grid -->
    <div class="w3-row">

        <!-- Blog entries -->
        <div class="w3-col s12 w3-center">
            <!-- Blog entry -->
            <div class="w3-card-4 w3-margin w3-white">
                <img src="/assets/recipes/blueberry-muffins.jpg" alt="Nature" style="height:20%; width: 20%;">
                <div class="w3-container">
                    <h3><b>Low-Carb Blueberry Muffins</b></h3>

                </div>

                <div class="w3-container">
                    <p><b>Video link : </b><a href="https://www.youtube.com/watch?v=wCxFY1wyDTE">click here</a></p>
                    <p>
                        Just because you're watching carbs doesn't mean you can't have the classic breakfast pastry. In
                        place of all-purpose flour, nutty almond and coconut flours make these muffins fluffy while
                        slashing carbs. A bit of brown sugar blunts the tartness of fresh blueberries. Make these ahead
                        for a grab-and-go breakfast for the week.
                    </p>
                    <hr>
                    <div class="w3-container text-left">

                        <h4><b><u>Ingredients</u></b><br></h4>
                        <br>
                        1. 1 ¾ cups almond flour <br>
                        2. ¼ cup coconut flour <br>
                        2. 1 tablespoon baking powder <br>
                        3. ¼ teaspoon baking soda <br>
                        4. ¼ teaspoon salt <br>
                        5. 1 cup blueberries <br>
                        6. 3 large eggs <br>
                        7. ½ cup reduced-fat milk <br>
                        8. ⅓ cup plus 2 tablespoons light brown sugar <br>
                        9. ¼ cup avocado oil <br>
                        10. 1 ½ teaspoons vanilla extract <br>

                    </div>
                    <hr>
                    <div class="w3-container text-left">
                        <h4><b><u>Directions</u></b><br></h4>
                        <br>
                        <b>Step 1</b>
                        <p>

                            Preheat oven to 350 degrees F. Generously coat a muffin tin with cooking spray.
                        </p>
                        <b>Step 2</b>
                        <p>

                            Sift almond flour, coconut flour, baking powder, baking soda and salt together in a large
                            bowl. Add blueberries and toss to coat. Whisk eggs, milk, brown sugar, oil and vanilla in a
                            medium bowl. Add to the dry ingredients and stir until combined. Divide the batter among the
                            muffin cups (about 1/4 cup batter per cup).
                        </p>
                        <b>Step 3</b>
                        <p>

                            Bake the muffins until lightly browned around the edges and a toothpick inserted in the
                            center comes out clean, 20 to 25 minutes. Let cool in the pan on a wire rack for 20 minutes.
                            Run a knife around the edges and remove from the tin to cool completely.
                        </p>


                    </div>
                    <hr>
                    <div class="w3-container text-left">
                        <h4><b><u>Nutrition Facts</u></b><br></h4>

                        <p>
                            <br>
                            Serving Size: 1 Muffin Per Serving: 204 calories; protein 5.8g; carbohydrates 14.9g; dietary
                            fiber 2.9g; sugars 9.9g; fat 14.6g; saturated fat 2g; cholesterol 47.3mg; vitamin a iu
                            93.5IU; vitamin c 1.2mg; folate 7.1mcg; calcium 122.6mg; iron 1.3mg; magnesium 50.4mg;
                            potassium 42mg; sodium 230.1mg; added sugar 7g. Exchanges:
                            2 1/2 Fat, 1/2 Medium-Fat Protein, 1/2 Other Carbohydrate
                        </p>
                    </div>
                    <hr>



                </div>

            </div>
            <hr>
        </div>
    </div><br>




</body>

</html>