<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
    body,
    h1,
    h2,
    h3,
    h4,
    h5 {
        font-family: "Raleway", sans-serif
    }
</style>

<body class="w3-light-grey">

    <!-- Header -->
    <header class="w3-container w3-center w3-padding-32">
        <h1><b><span class="w3-tag">Pranayama: The Power of Your Own Breath</span></b></h1>
    </header>

    <!-- Grid -->
    <div class="w3-row">

        <!-- Blog entries -->
        <div class="w3-col s12 w3-center">
            <!-- Blog entry -->
            <div class="w3-card-4 w3-margin w3-white">
                <img src="/assets/blogs/blog3.jpg" alt="Nature" style="height:30%; width: 30%;">
                <div class="w3-container">
                    <h3><b>Pranayama: The Power of Your Own Breath</b></h3>

                </div>
                <hr>
                <div class="w3-container text-left">
                    <p>
                        Human beings breathe an average of 23,000 times a day. That’s about 8.5 million breaths a year.
                        These millions of breaths are literally keeping us alive.
                    </p>
                    <p>
                        The breath is so important to our lives that it is the only autonomic function that we can
                        easily control. Legend has it that ancient yoga masters could control the speed of their
                        heartbeat. But how did they do it? By controlling their breathing.
                    </p>
                    <p>
                        In a process called “sinus arrhythmia,” each time we inhale, our heartbeat speeds up a little.
                        Each exhalation, it slows down. So lengthening either the inhalation or exhalation, practicing
                        three-part breathing in pranayama, retaining the inhalation or exhalation, etc., affect all our
                        other autonomic functions. The breath is the flywheel that sets everything else in motion.
                    </p>
                    <hr>
                    <h4><b>THE BREATH CONNECTS US TO THE UNIVERSAL</b></h4>
                    <p>
                        According to the system of yoga, the breath is more than just a physiological phenomenon. Its
                        place in the Eight Limbs of Yoga suggests that pranayama (refinement of the breath) practice is
                        the gateway between the more physical, worldly limbs (yama, niyama and asana) and the limbs
                        concerned with the meditative state (pratyahara, dharana, dhyana and Samadhi).
                    </p>
                    <p>
                        Here’s something to ponder—a quote from an article in Yoga Journal that explains B.K.S.
                        Iyengar’s thoughts on the breath:

                        “[Mr.] Iyengar tells us to think of the contact of the breath against the inner lung as the
                        connection between universal soul and individual self … The length of the retention [of the
                        breath] varies. It should last just until the content (prana) begins to move away from the
                        container (the lung) … Developing the ability to feel something as subtle as when the universal
                        soul and the individual self begin to separate in the course of a breath takes regular practice
                        and is what pranayama is all about.”
                    </p>
                    <p>
                        So pranayama is a lifelong practice that evolves as our awareness becomes more and more subtle.
                        In the Iyengar system, students do not begin practicing pranayama until they’ve gained some
                        strength and stability in asana practice. This doesn’t mean you have to have facility with
                        fancy, “advanced” poses. It means you need to develop stability in the basics, especially
                        Sukhasana (Easy Pose or Cross-Legged Pose), the basic sitting pose (which is arguably the most
                        “advanced” pose, but that’s another post).
                    </p>
                    <hr>
                    <h4><b>NATURAL BREATH VS. PRANAYAMA</b></h4>
                    <p>
                        Pranayama is powerful. By altering our normal breathing patterns, we begin to access the
                        Pranamaya Kosha, the second of yoga’s body “sheaths.” Pranamaya Kosha governs our prana, or
                        vital energy, our life force.
                    </p>
                    <p>
                        In an article in Yoga International, Pandit Rajmani Tigunait says:

                        “The practice of pranayama takes us beyond our skeletal, circulatory, and muscular systems. It
                        even takes us beyond our endocrine and nervous systems. In its truest sense, the practice of
                        pranayama aims at attaining mastery over the life force itself. And this goal is accomplished by
                        transcending the regular rules and laws of breathing.”
                    </p>
                    <p>
                        It is important to investigate our own habitual breathing patterns before we layer techniques on
                        top of them. For example, many of us habitually practice chest breathing or reverse breathing.
                        Some of us have quick or shallow breathing patterns. So the first step toward practicing
                        pranayama is to discover your own habits and begin to develop healthy breathing patterns. Donna
                        Farhi’s The Breathing Book is a great resource for learning about healthy breathing.
                    </p>
                    <p>
                        If you discover that you do need to change your breathing pattern, know that it will require a
                        lot of vigilance and practice. Multiply 8.5 million by the number of years you’ve been on the
                        planet. That’s how many breaths you’ve taken in your habitual pattern. It will take time and
                        patience to change. Learning to breathe fully, without strain, is a worthy undertaking. If
                        cultivating healthy breathing habits is the entirety of your pranayama practice, rest assured
                        that your body, mind and spirit will benefit.
                    </p>
                    <hr>
                    <h4><b>LEARNING PRANAYAMA</b></h4>
                    <p>
                        Because the healthy breathing is vital to our overall health and well-being, it is important
                        that you learn pranayama from a qualified teacher, someone who has a committed, longstanding
                        daily practice. You may need to travel to find such a teacher. While asana teachers abound these
                        days, people who truly understand pranayama are few and far between.
                    </p>
                    <p>
                        DVDs or CDs can be helpful, but it’s important to have a teacher who can observe you and give
                        you individual instructions. Our pranayama needs are unique to each of us. It’s worth finding a
                        teacher who can give you individual mentoring. Remember that until the 20th century, yoga was
                        always taught one on one, because each person’s path is unique. This is especially true in
                        pranayama practice.
                    </p>
                    <p>
                        After 36 years of yoga practice, my pranayama practice is still very simple. I love nadi
                        shodhana (alternate-nostril breathing) and practice it before my daily meditation practice. It
                        seems to calm and collect my mind, and gives me a quiet energy that sustains me throughout the
                        day. If I were to consider venturing into other techniques, I would seek out an experienced
                        teacher.
                    </p>
                    <p>
                        Our breath is the most powerful tool we have for promoting our physical, mental and spiritual
                        well-being. It’s accessible to all of us, at every moment of every day as long as we live. Take
                        time to explore your own breathing. Be patient and curious. Practicing mindful, healthy
                        breathing will benefit you in every way.
                    </p>
                    <hr>
                </div>
            </div>
            <hr>
        </div>
    </div><br>




</body>

</html>