
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("/assets/home/yoga1.jpg");
  min-height: 100%;
}
body {font-family: "Times New Roman", Georgia, Serif;}
    h1, h2, h3, h4, h5, h6 {
      font-family: "Playfair Display";
      letter-spacing: 5px;
    }