<!DOCTYPE html>
<html>
<title></title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">



<body>
<!-- Page content -->



<img class="w3-image" src="/assets/home/homepage.jpg" alt="Yoga" width="2000" height="800">
    <div class="w3-content" style="max-width:1100px">
    
<!-- About Section -->
      <div class="w3-row w3-padding-64" id="about">
        <div class="w3-col m6 w3-padding-large w3-hide-small">
         <img src="/assets/home/blacknwhite.jpg" class="w3-round w3-image w3-opacity-min" alt="Table Setting" width="600" height="800">
        </div>
    
        <div class="w3-col m6 w3-padding-large">
          <h1 class="w3-center">About Yogacharya</h1><br>
          <p class="w3-large">Now-a-days, majority of people undergoes through health issues or mental stress. The reason for both may be many factors like unhealthy food habits, lack of doing body exercises, job environment etc. These factors can physically and mentally deteriorate the creativity and productivity of a person. Yoga transforms a person balanced with mental, physical and spiritual elements in the right composition.
              </p>
          <p class="w3-large w3-text-grey w3-hide-medium">
            So, we will provide dynamic yoga instructors for people who are willing to do exercises from yoga experts.
          </p>
        </div>
      </div>
      
      <hr>
      
      <!-- Contact Section -->
      <div class="w3-container w3-padding-64" id="contact">
        <h1>Contact</h1><br>
        <p>We offer 24/7 service for our customers. We understand your needs. Do not hesitate to contact us.</p>
        <p class="w3-text-blue-grey w3-large"><b>Yogacharya Studio,   Pune, Maharashtra</b></p>
        <p>You can also contact us by phone 9874145236 or email yogacharya@gmail.com, or you can send us a message here:</p>
        <form action="/action_page.php" target="_blank">
          <p><input class="w3-input w3-padding-16" type="text" placeholder="Name" required name="Name"></p>
          <p><input class="w3-input w3-padding-16" type="text" placeholder="Message \ Suggestions" required name="Message"></p>
          <p><button class="w3-button w3-light-grey w3-section" type="submit">SEND MESSAGE</button></p>
        </form>
      </div>
      
    <!-- End page content -->
    </div>
    
    
    </body>
    

</html>
